@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.transition-default {
  @apply transition-all duration-200;
}

.hover-green {
  @apply hover:bg-light-green text-green transition-default active:scale-90;
}

.shadow-header {
  box-shadow: 0px 0px 6px -3px #000;
}

*::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #949494;
  border-radius: 5px;
}
