@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.base_input:focus {
  box-shadow: 0px 0px 10px -3px #1976d2;
}

.transition-default {
  @apply transition-all duration-200;
}

.hover-green {
  @apply hover:bg-blue hover:opacity-10 hover:text-blue transition-default active:scale-90;
}

.hover-gray {
  @apply hover:bg-greenish-gray cursor-pointer hover:text-black transition-default active:scale-95 active:bg-light-green active:text-blue;
}

.shadow-header {
  box-shadow: 0px 0px 6px -3px #000;
}

.shadow-white-glow {
  box-shadow: 0px 0px 41px 14px #ffffff;
}

.translate-down-animation {
  animation: translate-down-animation 0.3s linear;
}

*::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #949494;
  border-radius: 5px;
}

@keyframes translate-down-animation {
  0% {
    /* transform: translateY(-20%); */
    opacity: 0;
  }
  100% {
    /* transform: translateY(0%); */
    opacity: 1;
  }
}
